@model JogoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="Salvar" method="post" class="col-md-6 offset-3">
    <h2>Cadastro de Jogo</h2>

    <input type="hidden" name="operacao" value="@ViewBag.Operacao" />

    <label for="Id" class="control-label">Código</label>
    @if (ViewBag.Operacao == "I")
    {
        <input type="number" Name="Id" value="@Model.Id" class="form-control"/>
    } 
    else 
    {
        <input type="number" Name="Id" value="@Model.Id" class="form-control disabled" readonly/>
    }
    <span asp-validation-for="Id" class="text-danger"></span>
    <br />

    <label for="Descricao" class="control-label">Descrição</label>
    <input type="text" Name="Descricao" value="@Model.Descricao" class="form-control" />
    <span asp-validation-for="Descricao" class="text-danger"></span>
    <br />

    <label for="ValorLocacao" class="control-label">Valor de Locação</label>
    <input type="text" Name="ValorLocacao" value="@Model.ValorLocacao" class="form-control" />
    <span asp-validation-for="ValorLocacao" class="text-danger"></span>
    <br />

    <label for="DataAquisicao" class="control-label">Data de aquisição</label>
    <input type="date" Name="DataAquisicao" value="@Model.DataAquisicao.ToString("yyyy-MM-dd")" class="form-control" />
    <span asp-validation-for="DataAquisicao" class="text-danger"></span>
    <br />

    <label for="CategoriaId" class="control-label">Categoria</label>
    <input type="number" Name="CategoriaId" value="@Model.CategoriaId" class="form-control" />
    <span asp-validation-for="CategoriaId" class="text-danger"></span>
    <br />

    <input type="submit" value="Salvar dados" />
    &nbsp;
    <a href="/jogo/index" class="btn btn-light">Voltar</a>

    <br />
</form>
