@model List<JogoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Acervo de Jogos</h2>

<a href="/jogo/create">Novo Registro</a>
<br />

<table class="table table-responsive table-hover table-striped">
    <tr>
        <th>Ações</th>
        <th>Código do Jogo</th>
        <th>Descrição</th>
        <th>Valor de Locação</th>
        <th>Data de Aquisição</th>
        <th>Categoria</th>
    </tr>
    @foreach (var jogo in Model)
    {
        <tr>
            <td>
                <a href="/jogo/Edit?id=@jogo.Id">
                    <img src="/img/edit.png" alt="Editar" class="icone">
                </a>
                &nbsp;
                <a href="javascript:apagarJogo(@jogo.Id)">
                    <img src="/img/delete.png" alt="Apagar" class="icone">
                </a>
            </td>
            <td>@jogo.Id</td>
            <td>@jogo.Descricao</td>
            <td>@jogo.ValorLocacao?.ToString("c")</td>
            <td>@jogo.DataAquisicao.ToString("dd/MM/yyyy")</td>
            <td>@jogo.NomeCategoria</td>
        </tr>
    }
</table>

<script>
    function apagarJogo(id) {
        swal({
            title: "Apagar o registro?",
            text: "Esta operação não terá volta!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Sim!",
            cancelButtonText: "Nãaaaoooo!",
            closeOnConfirm: true,
        },
            function () {
                location.href = 'jogo/Delete?id=' + id;
            });
    }
</script>